// ==========================================================================
// Generic
// ==========================================================================

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
    font-family: $font-face;
    font-size: $font-size;
    line-height: $line-height;
    overflow-x: hidden;
    color: $primary-color;
}
