// ==========================================================================
// Generic
// ==========================================================================

body {
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: $font-size;
    line-height: $line-height;
    overflow-x: hidden;
    color: $primary-color;
}

a {
    &:hover {
        text-decoration: none;
    }
}
